* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    color: #1f1f1f; 
}

header {
    width: 180px;
    margin-left: 50px;
    margin-top: 50px;
}

nav li { 
    list-style-type: none;
    line-height: 2em;
    letter-spacing: .1em;
}

nav a {
    color: #1f1f1f;
    text-decoration: none;
    padding: .2em;
}

nav a:hover {
    color: rgba(51,51,51,.6);
}